/* FLOATING ANIMATIONS */
@keyframes float-up-down {
  0%, 100% { transform: translate3d(0, 0, 0); }
  50% { transform: translate3d(0, -12px, 0); }
}

@keyframes float-up-down-tilted {
  0%, 100% { transform: perspective(500px) rotateX(5deg) translate3d(0, 0, 0); }
  50% { transform: perspective(500px) rotateX(5deg) translate3d(0, -12px, 0); }
}

@keyframes float-up-down-special-badge {
  0%, 100% { transform: translateY(-50%) rotate(-6deg) translate3d(0, 0, 0); }
  50% { transform: translateY(-50%) rotate(-6deg) translate3d(0, -12px, 0); }
}

@keyframes float-up-down-special-badge-shorts {
  0%, 100% { transform: translate(-50%, -50%) translate3d(0, 0, 0); }
  50% { transform: translate(-50%, -50%) translate3d(0, -12px, 0); }
}